@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Simple PeriodicTimer example</h1>
    </div>
    <div class="row">
        See console window
    </div>
    
    <div class="row">
        <input type="text" asp-for="Contacts.FirstName" id="firstName"></input>
    </div>

</div>


