@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PeriodicTimerWebApp.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Simple PeriodicTimer example</h1>
    </div>
    <div class="row">
        <div class="col-auto">
            See console window
        </div>

    </div>
</div>


