@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="container d-flex justify-content-center">
        <div class="card shadow mt-5" style="width: 28rem;">
            <div class="card-body">
                <h1 class="card-title">About</h1>
                <p class="card-text">Help desk information in footer</p>
                <p class="card-text">Code in _layout.cshtml</p>
            </div>
        </div>

    </div>

</div>